<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="text-center">
        <h1>Your Matches</h1>
      </div>
      <hr>
      <% @matches.each do |match| %>
      <% if match.user_id == current_user.id %>
      <% @match_id = match.match_id %>
      <h5>
        <%= match.created_at.strftime("%d/%m/%Y") %>:

        <% @match_user = User.find_by id: @match_id %>

        <% if @match_user != nil %>
        <% if @match_user.profile != nil %>

        <%= @match_user.profile.first_name %>
        <%= @match_user.profile.last_name %>
      </h5>
    <% else %>
      <h1>Your match has no profile!</h1>
      <h2>Here his/her email:
        <%= @match_user.email %></h2>
      <% end %>
    <% else %>
      <h1>You have no match!</h1>
      <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
