@import "bootstrap-sprockets";
@import "bootstrap";

.icon-pencil {
    background-image: url("http://www.freeiconspng.com/uploads/pencil-web-pencil-png-pencil-icon-flat-icon-png-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px;
}
